<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="frame">
                <h1>Sauce it</h1>
                <br>
                <p>Reverse search an anime from an image</p>
            </div>
            <label for="image_file">Select image</label>
            <input class="btn btn-warning" type="file" id="image_file" name="myfile" multiple>
            
            <br>
            <button class="btn btn-success" onclick="getSauce()">Find The Sauce!</button>
            <br>

            <hr style="width:100%; text-align: left; margin-left: 0">
        </div>
        
        <script src="" async defer></script>
    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        function getSauce() {
            var file = document.getElementById("image_file").files
            var formData = new FormData();
            var endpoint = '/sauce';
            formData.append("image", file[0]);

            $.ajax({
                type: 'POST',
                url: endpoint,
                data: formData,
                contentType: false,
                cache: false,
                processData: false,

                success: function(data) {
                    Swal.fire({
                        title: data.title,
                        text: data.title2,
                        footer: 'Season: '+ data.season + '. Ep: ' + data.episode + '. At: ' + data.time,
                        imageUrl: data.preview,
                        confirmButtonText: 'Deeper Search',
                        backdrop: 'rgba(117,176,221,0.2)',
                        width: '400px',
                        height: '700px',
                        showLoaderOnConfirm: true,
                    }).then((result) => {
                    if (result.isConfirmed) {
                        getFullSauce(data.title);
                    }});
                }
            });
        };

        function getFullSauce(titleVar){
            var endpoint = '/full';
            var formData = new FormData();
            formData.append("title", titleVar);
            $.ajax({
                type: 'POST',
                url: endpoint,
                data: formData,
                contentType: false,
                cache: false,
                processData: false,

                success: function(data) {
                    Swal.fire({
                            title: data.title,
                            text: data.synopsis,
                            html:        
                            '<summary style="text-align: justify;">'+data.synopsis+'</summary>' +
                            '<hr><p><br></p>' +
                            '<ul>'+
                                '<li style="text-align: justify;">Type: <strong>'+data.type+'</strong></li>' +
                                '<li style="text-align: justify;">Rated: <strong>'+data.rated+'</strong></li>' +
                                '<li style="text-align: justify;">Score: <strong>'+data.score+'</strong></li>' +
                                '<li style="text-align: justify;">Episodes: <strong>'+data.episodes+'</strong></li>' +
                                '<li style="text-align: justify;">Airing: <strong>'+data.airing+'</strong> | Aired From: '+data.start_date+' : '+data.end_date+'</li>' +
                            '</ul>',
                            imageUrl: data.image_url,
                            backdrop: 'rgba(117,176,221,0.2)',
                            width: '400px',
                            height: '700px'
                        });
                }
            });
        };
    </script>


</html>


